/* background-effect.css */
.background-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('css/back-removebg.png') no-repeat center center fixed;
    background-size: cover;
}

/* Ensure the rest of your content is positioned above the background effect */
body, .navbar, .category-section, .photo2 {
    position: relative;
    z-index: 1;
}
