body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
nav{
    flex: 1;
    position: absolute;
    right: 30px;
    font-size: large;
}
nav .search{
    display: flex;
    padding: 7px; 
    border-radius: 28px;
    background-color: #d8d0d0;
    position: absolute;
    right:461px;
}
.search :focus-within {
    box-shadow: 0 0 3px rgba(0,0,0,0.75);
}
.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    width: 250px;
}
.dark{
    color: #910d0d;
    position: absolute;
    right:410px;
    top:2px;
}

nav ul{
    display: inline-block;
    list-style-type: none ;
    margin-bottom: 17px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: rgb(119, 8, 41);
    text-decoration: none;
}
p{
    color: rgb(119, 8, 41);
}
header .icon_cart{
    position: absolute;
    right: 10px;
    top: 31px;
}
.light-mode {
    background-color:#ffffff;
    color:#000000;
}
.dark-mode {
    background-color:#000000;
    color:#ffffff;
}
.continer{
    max-width: 1900px;
    margin-bottom: 400px;
    padding-left: 25px;
    padding-right: 25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 10px;

}
main {
    padding: 20px;
}

.main {
    text-align: center;
    padding: 50px 0;
}

.main h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.shop {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(119, 8, 41);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align:left;
}
.shopping a:hover{
    background-color: #cd0c0c;
}

.shopping {
    
    font-style: italic;
    font-size:20px;  
    text-transform: uppercase;
text-align: center;
}

.product {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.product img {
    max-width: 100%;
    
    border-radius: 5px;
}
footer{
    font-size: 20px;
    font-style: italic;
    color: black;
    text-transform:uppercase;
}
div.container {
    width:100%;
    overflow:auto;
  }
  div.container div {
    width:31%;  
    float:left;}
.k{
    align-items: center;

    justify-content: space-around;
   
}
.s{
flex-basis: 50%;
position: absolute;
max-width: 900px;
left: 28%;
}
#vedio{
    position: absolute;
    left: 33%;
    top: 40% ;
}
.j{
    max-width: 100%;
    padding: 50px 0 0 0;

}
.h{
    
    float: right;
}
#demo{
   float:right;
}